In [1]:
import pandas as pd

In [3]:
pd.read_csv('data/access-log')

     140.180.132.213 - - [24/Feb/2008:00:08:59 -0600] "GET /ply/ply.html HTTP/1.1" 200 97238
0     140.180.132.213 - - [24/Feb/2008:00:08:59 -060...
1     75.54.118.139 - - [24/Feb/2008:00:15:40 -0600]...
2     75.54.118.139 - - [24/Feb/2008:00:15:41 -0600]...
3     75.54.118.139 - - [24/Feb/2008:00:15:42 -0600]...
4     75.54.118.139 - - [24/Feb/2008:00:15:49 -0600]...
...                                                 ...
7292  80.161.85.77 - - [29/Feb/2008:07:47:40 -0600] ...
7293  156.63.68.202 - - [29/Feb/2008:07:49:28 -0600]...
7294  156.63.68.202 - - [29/Feb/2008:07:49:28 -0600]...
7295  156.63.68.202 - - [29/Feb/2008:07:49:28 -0600]...
7296  80.161.85.77 - - [29/Feb/2008:07:52:46 -0600] ...

[7297 rows x 1 columns]

In [15]:
pd.read_csv('data/access-log', delimiter = ' ', index_col=False, names=['ip', '1', '2', 'date', 'tz', 'req', 'status', 'bytes'])

,ip,1,2,date,tz,req,status,bytes
0,140.180.132.213,-,-,[24/Feb/2008:00:08:59,-0600],GET /ply/ply.html HTTP/1.1,200,97238
1,140.180.132.213,-,-,[24/Feb/2008:00:08:59,-0600],GET /favicon.ico HTTP/1.1,404,133
2,75.54.118.139,-,-,[24/Feb/2008:00:15:40,-0600],GET / HTTP/1.1,200,4447
3,75.54.118.139,-,-,[24/Feb/2008:00:15:41,-0600],GET /images/Davetubes.jpg HTTP/1.1,200,60025
4,75.54.118.139,-,-,[24/Feb/2008:00:15:42,-0600],GET /favicon.ico HTTP/1.1,404,133
...,...,...,...,...,...,...,...,...
7293,80.161.85.77,-,-,[29/Feb/2008:07:47:40,-0600],GET /ply/example.html HTTP/1.1,200,2359
7294,156.63.68.202,-,-,[29/Feb/2008:07:49:28,-0600],GET /ply/ HTTP/1.1,200,8018
7295,156.63.68.202,-,-,[29/Feb/2008:07:49:28,-0600],GET /ply/bookplug.gif HTTP/1.1,200,23903
7296,156.63.68.202,-,-,[29/Feb/2008:07:49:28,-0600],GET /favicon.ico HTTP/1.1,404,133
7297,80.161.85.77,-,-,[29/Feb/2008:07:52:46,-0600],GET /ply/ply.html HTTP/1.1,200,97238

In [16]:
w = pd.read_csv('data/access-log', delimiter = ' ', index_col=False, names=['ip', '1', '2', 'date', 'tz', 'req', 'status', 'bytes'])

In [31]:
ip = w['ip']

In [32]:
ip.describe()

count             7298
unique            1353
top       38.98.120.84
freq               559
Name: ip, dtype: object

In [33]:
ip

0       140.180.132.213
1       140.180.132.213
2         75.54.118.139
3         75.54.118.139
4         75.54.118.139
             ...
7293       80.161.85.77
7294      156.63.68.202
7295      156.63.68.202
7296      156.63.68.202
7297       80.161.85.77
Name: ip, Length: 7298, dtype: object

In [46]:
b = w['bytes']
pd.to_numeric(b)

ValueError: Unable to parse string "-" at position 37

In [43]:
b = pd.Series([str(i) for i in range(1000)])

In [44]:
b

0        0
1        1
2        2
3        3
4        4
      ...
995    995
996    996
997    997
998    998
999    999
Length: 1000, dtype: object

In [45]:
pd.to_numeric(b)

0        0
1        1
2        2
3        3
4        4
      ...
995    995
996    996
997    997
998    998
999    999
Length: 1000, dtype: int64

In [55]:
w[ w["status"] == 304 ]

,ip,1,2,date,tz,req,status,bytes
37,122.117.168.219,-,-,[24/Feb/2008:02:15:07,-0600],GET /ply/ HTTP/1.1,304,-
38,122.117.168.219,-,-,[24/Feb/2008:02:15:07,-0600],GET /ply/bookplug.gif HTTP/1.1,304,-
39,122.117.168.219,-,-,[24/Feb/2008:02:15:11,-0600],GET /ply/example.html HTTP/1.1,304,-
49,122.117.168.219,-,-,[24/Feb/2008:02:22:06,-0600],GET /ply/ HTTP/1.1,304,-
50,122.117.168.219,-,-,[24/Feb/2008:02:22:06,-0600],GET /ply/bookplug.gif HTTP/1.1,304,-
...,...,...,...,...,...,...,...,...
7259,66.249.65.37,-,-,[29/Feb/2008:07:11:32,-0600],GET /dynamic/04Objects.pdf HTTP/1.1,304,-
7261,66.249.65.37,-,-,[29/Feb/2008:07:14:41,-0600],GET /dynamic/02WorkingWithData.pdf HTTP/1.1,304,-
7272,66.249.65.37,-,-,[29/Feb/2008:07:23:52,-0600],GET /dynamic/assign2.html HTTP/1.1,304,-
7275,66.249.65.37,-,-,[29/Feb/2008:07:27:56,-0600],GET /dynamic/assign3.html HTTP/1.1,304,-
7279,66.249.65.37,-,-,[29/Feb/2008:07:31:24,-0600],GET /dynamic/05ObjectModel.pdf HTTP/1.1,304,-

In [56]:
w[ w["bytes"] != '-']

,ip,1,2,date,tz,req,status,bytes
0,140.180.132.213,-,-,[24/Feb/2008:00:08:59,-0600],GET /ply/ply.html HTTP/1.1,200,97238
1,140.180.132.213,-,-,[24/Feb/2008:00:08:59,-0600],GET /favicon.ico HTTP/1.1,404,133
2,75.54.118.139,-,-,[24/Feb/2008:00:15:40,-0600],GET / HTTP/1.1,200,4447
3,75.54.118.139,-,-,[24/Feb/2008:00:15:41,-0600],GET /images/Davetubes.jpg HTTP/1.1,200,60025
4,75.54.118.139,-,-,[24/Feb/2008:00:15:42,-0600],GET /favicon.ico HTTP/1.1,404,133
...,...,...,...,...,...,...,...,...
7293,80.161.85.77,-,-,[29/Feb/2008:07:47:40,-0600],GET /ply/example.html HTTP/1.1,200,2359
7294,156.63.68.202,-,-,[29/Feb/2008:07:49:28,-0600],GET /ply/ HTTP/1.1,200,8018
7295,156.63.68.202,-,-,[29/Feb/2008:07:49:28,-0600],GET /ply/bookplug.gif HTTP/1.1,200,23903
7296,156.63.68.202,-,-,[29/Feb/2008:07:49:28,-0600],GET /favicon.ico HTTP/1.1,404,133
7297,80.161.85.77,-,-,[29/Feb/2008:07:52:46,-0600],GET /ply/ply.html HTTP/1.1,200,97238

In [59]:
w['bytes'] = w['bytes'].str.replace('-', '0')

In [60]:
w[ w["status"] == 304 ]

,ip,1,2,date,tz,req,status,bytes
37,122.117.168.219,-,-,[24/Feb/2008:02:15:07,-0600],GET /ply/ HTTP/1.1,304,0
38,122.117.168.219,-,-,[24/Feb/2008:02:15:07,-0600],GET /ply/bookplug.gif HTTP/1.1,304,0
39,122.117.168.219,-,-,[24/Feb/2008:02:15:11,-0600],GET /ply/example.html HTTP/1.1,304,0
49,122.117.168.219,-,-,[24/Feb/2008:02:22:06,-0600],GET /ply/ HTTP/1.1,304,0
50,122.117.168.219,-,-,[24/Feb/2008:02:22:06,-0600],GET /ply/bookplug.gif HTTP/1.1,304,0
...,...,...,...,...,...,...,...,...
7259,66.249.65.37,-,-,[29/Feb/2008:07:11:32,-0600],GET /dynamic/04Objects.pdf HTTP/1.1,304,0
7261,66.249.65.37,-,-,[29/Feb/2008:07:14:41,-0600],GET /dynamic/02WorkingWithData.pdf HTTP/1.1,304,0
7272,66.249.65.37,-,-,[29/Feb/2008:07:23:52,-0600],GET /dynamic/assign2.html HTTP/1.1,304,0
7275,66.249.65.37,-,-,[29/Feb/2008:07:27:56,-0600],GET /dynamic/assign3.html HTTP/1.1,304,0
7279,66.249.65.37,-,-,[29/Feb/2008:07:31:24,-0600],GET /dynamic/05ObjectModel.pdf HTTP/1.1,304,0

In [62]:
w['bytes_n'] = pd.to_numeric(w['bytes'])

In [63]:
w

,ip,1,2,date,tz,req,status,bytes,bytes_n
0,140.180.132.213,-,-,[24/Feb/2008:00:08:59,-0600],GET /ply/ply.html HTTP/1.1,200,97238,97238
1,140.180.132.213,-,-,[24/Feb/2008:00:08:59,-0600],GET /favicon.ico HTTP/1.1,404,133,133
2,75.54.118.139,-,-,[24/Feb/2008:00:15:40,-0600],GET / HTTP/1.1,200,4447,4447
3,75.54.118.139,-,-,[24/Feb/2008:00:15:41,-0600],GET /images/Davetubes.jpg HTTP/1.1,200,60025,60025
4,75.54.118.139,-,-,[24/Feb/2008:00:15:42,-0600],GET /favicon.ico HTTP/1.1,404,133,133
...,...,...,...,...,...,...,...,...,...
7293,80.161.85.77,-,-,[29/Feb/2008:07:47:40,-0600],GET /ply/example.html HTTP/1.1,200,2359,2359
7294,156.63.68.202,-,-,[29/Feb/2008:07:49:28,-0600],GET /ply/ HTTP/1.1,200,8018,8018
7295,156.63.68.202,-,-,[29/Feb/2008:07:49:28,-0600],GET /ply/bookplug.gif HTTP/1.1,200,23903,23903
7296,156.63.68.202,-,-,[29/Feb/2008:07:49:28,-0600],GET /favicon.ico HTTP/1.1,404,133,133
7297,80.161.85.77,-,-,[29/Feb/2008:07:52:46,-0600],GET /ply/ply.html HTTP/1.1,200,97238,97238

In [74]:
w['date2'] = w['date'].str.replace('[','', regex=False)

In [75]:
w

,ip,1,2,date,tz,req,status,bytes,bytes_n,date2
0,140.180.132.213,-,-,[24/Feb/2008:00:08:59,-0600],GET /ply/ply.html HTTP/1.1,200,97238,97238,24/Feb/2008:00:08:59
1,140.180.132.213,-,-,[24/Feb/2008:00:08:59,-0600],GET /favicon.ico HTTP/1.1,404,133,133,24/Feb/2008:00:08:59
2,75.54.118.139,-,-,[24/Feb/2008:00:15:40,-0600],GET / HTTP/1.1,200,4447,4447,24/Feb/2008:00:15:40
3,75.54.118.139,-,-,[24/Feb/2008:00:15:41,-0600],GET /images/Davetubes.jpg HTTP/1.1,200,60025,60025,24/Feb/2008:00:15:41
4,75.54.118.139,-,-,[24/Feb/2008:00:15:42,-0600],GET /favicon.ico HTTP/1.1,404,133,133,24/Feb/2008:00:15:42
...,...,...,...,...,...,...,...,...,...,...
7293,80.161.85.77,-,-,[29/Feb/2008:07:47:40,-0600],GET /ply/example.html HTTP/1.1,200,2359,2359,29/Feb/2008:07:47:40
7294,156.63.68.202,-,-,[29/Feb/2008:07:49:28,-0600],GET /ply/ HTTP/1.1,200,8018,8018,29/Feb/2008:07:49:28
7295,156.63.68.202,-,-,[29/Feb/2008:07:49:28,-0600],GET /ply/bookplug.gif HTTP/1.1,200,23903,23903,29/Feb/2008:07:49:28
7296,156.63.68.202,-,-,[29/Feb/2008:07:49:28,-0600],GET /favicon.ico HTTP/1.1,404,133,133,29/Feb/2008:07:49:28
7297,80.161.85.77,-,-,[29/Feb/2008:07:52:46,-0600],GET /ply/ply.html HTTP/1.1,200,97238,97238,29/Feb/2008:07:52:46

In [83]:
w['date3'] = w['date2'].str.replace(':', ' ', 1)

In [88]:
w['dt'] = pd.to_datetime(w['date3'])

In [90]:
del w['date2']

In [91]:
w

,ip,1,2,date,tz,req,status,bytes,bytes_n,date3,dt
0,140.180.132.213,-,-,[24/Feb/2008:00:08:59,-0600],GET /ply/ply.html HTTP/1.1,200,97238,97238,24/Feb/2008 00:08:59,2008-02-24 00:08:59
1,140.180.132.213,-,-,[24/Feb/2008:00:08:59,-0600],GET /favicon.ico HTTP/1.1,404,133,133,24/Feb/2008 00:08:59,2008-02-24 00:08:59
2,75.54.118.139,-,-,[24/Feb/2008:00:15:40,-0600],GET / HTTP/1.1,200,4447,4447,24/Feb/2008 00:15:40,2008-02-24 00:15:40
3,75.54.118.139,-,-,[24/Feb/2008:00:15:41,-0600],GET /images/Davetubes.jpg HTTP/1.1,200,60025,60025,24/Feb/2008 00:15:41,2008-02-24 00:15:41
4,75.54.118.139,-,-,[24/Feb/2008:00:15:42,-0600],GET /favicon.ico HTTP/1.1,404,133,133,24/Feb/2008 00:15:42,2008-02-24 00:15:42
...,...,...,...,...,...,...,...,...,...,...,...
7293,80.161.85.77,-,-,[29/Feb/2008:07:47:40,-0600],GET /ply/example.html HTTP/1.1,200,2359,2359,29/Feb/2008 07:47:40,2008-02-29 07:47:40
7294,156.63.68.202,-,-,[29/Feb/2008:07:49:28,-0600],GET /ply/ HTTP/1.1,200,8018,8018,29/Feb/2008 07:49:28,2008-02-29 07:49:28
7295,156.63.68.202,-,-,[29/Feb/2008:07:49:28,-0600],GET /ply/bookplug.gif HTTP/1.1,200,23903,23903,29/Feb/2008 07:49:28,2008-02-29 07:49:28
7296,156.63.68.202,-,-,[29/Feb/2008:07:49:28,-0600],GET /favicon.ico HTTP/1.1,404,133,133,29/Feb/2008 07:49:28,2008-02-29 07:49:28
7297,80.161.85.77,-,-,[29/Feb/2008:07:52:46,-0600],GET /ply/ply.html HTTP/1.1,200,97238,97238,29/Feb/2008 07:52:46,2008-02-29 07:52:46