Источники данных:

https://www.dabeaz.com/generators/

https://github.com/dabeaz/generators

In [1]:
import pandas as pd

In [10]:
w = pd.read_csv('data/access-log', 
                sep=' ', 
                index_col=False, 
                names=['ip', '1', '2', 'date', 'tz', 'get', 'status', 'bytes'])

In [11]:
w2 = w[['ip']]

In [13]:
w2

                   ip
0     140.180.132.213
1     140.180.132.213
2       75.54.118.139
3       75.54.118.139
4       75.54.118.139
...               ...
7293     80.161.85.77
7294    156.63.68.202
7295    156.63.68.202
7296    156.63.68.202
7297     80.161.85.77

[7298 rows x 1 columns]

In [14]:
w['bytes'] = w['bytes'].str.replace('-','0')

In [15]:
w[w['status'] == 304]

,ip,1,2,date,tz,get,status,bytes
37,122.117.168.219,-,-,[24/Feb/2008:02:15:07,-0600],GET /ply/ HTTP/1.1,304,0
38,122.117.168.219,-,-,[24/Feb/2008:02:15:07,-0600],GET /ply/bookplug.gif HTTP/1.1,304,0
39,122.117.168.219,-,-,[24/Feb/2008:02:15:11,-0600],GET /ply/example.html HTTP/1.1,304,0
49,122.117.168.219,-,-,[24/Feb/2008:02:22:06,-0600],GET /ply/ HTTP/1.1,304,0
50,122.117.168.219,-,-,[24/Feb/2008:02:22:06,-0600],GET /ply/bookplug.gif HTTP/1.1,304,0
...,...,...,...,...,...,...,...,...
7259,66.249.65.37,-,-,[29/Feb/2008:07:11:32,-0600],GET /dynamic/04Objects.pdf HTTP/1.1,304,0
7261,66.249.65.37,-,-,[29/Feb/2008:07:14:41,-0600],GET /dynamic/02WorkingWithData.pdf HTTP/1.1,304,0
7272,66.249.65.37,-,-,[29/Feb/2008:07:23:52,-0600],GET /dynamic/assign2.html HTTP/1.1,304,0
7275,66.249.65.37,-,-,[29/Feb/2008:07:27:56,-0600],GET /dynamic/assign3.html HTTP/1.1,304,0
7279,66.249.65.37,-,-,[29/Feb/2008:07:31:24,-0600],GET /dynamic/05ObjectModel.pdf HTTP/1.1,304,0

In [16]:
w2['bytes'] = pd.to_numeric(w['bytes'], downcast="integer")

/tmp/ipykernel_28447/1801081394.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  w2['bytes'] = pd.to_numeric(w['bytes'], downcast="integer")

In [17]:
w2

                   ip  bytes
0     140.180.132.213  97238
1     140.180.132.213    133
2       75.54.118.139   4447
3       75.54.118.139  60025
4       75.54.118.139    133
...               ...    ...
7293     80.161.85.77   2359
7294    156.63.68.202   8018
7295    156.63.68.202  23903
7296    156.63.68.202    133
7297     80.161.85.77  97238

[7298 rows x 2 columns]

In [26]:
w2['bytes'].sum()/(1024 * 1024) # всего трафика потреблено в Мегабайтах

220.05255699157715

In [27]:
w2['bytes'].mean()/1024 # килобайт на 1 запрос

30.8761055576014

In [38]:
stat = w2[['ip', 'bytes']].groupby('ip').sum()

In [39]:
stat['Kb'] = stat['bytes']/1024

In [42]:
stat['Mb'] = stat['Kb']/1024

In [52]:
stat.sort_values(by = 'bytes', ascending = False).head(40)

                    bytes            Kb         Mb
ip
67.186.98.20     11001415  10743.569336  10.491767
98.193.69.179    10049252   9813.722656   9.583714
24.15.187.198     9958647   9725.241211   9.497306
38.98.120.84      7340440   7168.398438   7.000389
128.135.24.9      5685359   5552.108398   5.421981
128.135.125.239   5623128   5491.335938   5.362633
69.209.71.13      5233160   5110.507812   4.990730
75.22.21.146      4986048   4869.187500   4.755066
99.140.232.220    4975248   4858.640625   4.744766
98.206.164.173    4941409   4825.594727   4.712495
209.120.207.254   4936342   4820.646484   4.707663
128.135.164.194   4931049   4815.477539   4.702615
71.3.94.70        4930783   4815.217773   4.702361
128.135.24.238    4919642   4804.337891   4.691736
67.228.115.170    4591116   4483.511719   4.378429
65.55.232.14      4049036   3954.136719   3.861462
75.23.124.137     4036146   3941.548828   3.849169
195.252.125.134   3972567   3879.459961   3.788535
65.55.232.15      3265449   3188.915039   3.114175
74.6.19.154       3246437   3170.348633   3.096044
41.222.70.189     3129866   3056.509766   2.984873
84.75.247.28      3126326   3053.052734   2.981497
74.6.25.144       3110734   3037.826172   2.966627
71.57.91.136      2899258   2831.306641   2.764948
67.173.185.186    2018836   1971.519531   1.925312
24.1.159.241      1676372   1637.082031   1.598713
122.167.72.204    1467729   1433.329102   1.399735
75.205.208.176    1378723   1346.409180   1.314853
201.236.226.90    1240381   1211.309570   1.182920
24.1.247.118      1219403   1190.823242   1.162913
66.241.68.226     1093743   1068.108398   1.043075
68.166.120.178     985612    962.511719   0.939953
67.165.221.14      985285    962.192383   0.939641
74.6.8.73          948950    926.708984   0.904989
128.135.164.154    909567    888.249023   0.867431
192.55.2.36        900783    879.670898   0.859054
12.87.213.22       896336    875.328125   0.854813
74.6.20.149        731143    714.006836   0.697272
64.81.229.55       701061    684.629883   0.668584
66.116.72.114      681597    665.622070   0.650022

In [53]:
stat = w2[['ip', 'bytes']].groupby('ip').count()

In [55]:
stat.sort_values(by = 'bytes')

                bytes
ip
61.247.217.38       1
198.54.202.194      1
74.6.23.225         1
74.6.23.41          1
74.6.23.48          1
...               ...
67.228.115.170     49
201.236.226.90     61
66.249.65.37       65
129.192.97.6      129
38.98.120.84      559

[1353 rows x 1 columns]

In [56]:
w2

                   ip  bytes
0     140.180.132.213  97238
1     140.180.132.213    133
2       75.54.118.139   4447
3       75.54.118.139  60025
4       75.54.118.139    133
...               ...    ...
7293     80.161.85.77   2359
7294    156.63.68.202   8018
7295    156.63.68.202  23903
7296    156.63.68.202    133
7297     80.161.85.77  97238

[7298 rows x 2 columns]

In [90]:
stat1 = w2[['ip', 'bytes']].groupby('ip').sum() / 1024

In [91]:
stat1.rename(columns = {'bytes':'Kb'}, inplace = True)

In [92]:
stat2 = w2[['ip', 'bytes']].groupby('ip').count()

In [93]:
stat2.rename(columns = {'bytes':'clicks'}, inplace = True)

In [94]:
stat3 = w2[['ip', 'bytes']].groupby('ip').mean()

In [95]:
stat3.rename(columns = {'bytes':'bytes_2_clicks'}, inplace = True)

In [96]:
stat = pd.concat([stat1, stat2, stat3], axis = 1)

In [97]:
stat

                         Kb  clicks  bytes_2_clicks
ip
116.94.207.182    31.302734       3    10684.666667
117.198.144.124   95.088867       2    48685.500000
117.47.114.193    31.172852       2    15960.500000
118.172.30.90     78.278320       1    80157.000000
118.83.147.252     0.000000       1        0.000000
...                     ...     ...             ...
99.167.100.246    24.209961       7     3541.571429
99.167.103.107    12.356445       5     2530.600000
99.226.226.178     0.129883       1      133.000000
99.232.163.8      14.207031      10     1454.800000
99.244.205.42    144.307617       7    21110.142857

[1353 rows x 3 columns]

In [99]:
stat.sort_values(by = 'bytes_2_clicks', ascending = False)

                          Kb  clicks  bytes_2_clicks
ip
128.135.24.238   4804.337891       1    4.919642e+06
195.252.125.134  3879.459961       1    3.972567e+06
74.6.19.154      3170.348633       1    3.246437e+06
74.6.25.144      3037.826172       1    3.110734e+06
71.3.94.70       4815.217773       3    1.643594e+06
...                      ...     ...             ...
199.111.229.93      0.000000       3    0.000000e+00
74.6.23.102         0.000000       1    0.000000e+00
74.6.26.159         0.000000       1    0.000000e+00
219.136.230.60      0.000000       1    0.000000e+00
128.221.197.20      0.000000      24    0.000000e+00

[1353 rows x 3 columns]