Источники данных:

https://www.dabeaz.com/generators/

https://github.com/dabeaz/generators

In [1]:
/tmp/ssh.log.gz

In [2]:
pd.read_csv('data/access-log')

     140.180.132.213 - - [24/Feb/2008:00:08:59 -0600] "GET /ply/ply.html HTTP/1.1" 200 97238
0     140.180.132.213 - - [24/Feb/2008:00:08:59 -060...
1     75.54.118.139 - - [24/Feb/2008:00:15:40 -0600]...
2     75.54.118.139 - - [24/Feb/2008:00:15:41 -0600]...
3     75.54.118.139 - - [24/Feb/2008:00:15:42 -0600]...
4     75.54.118.139 - - [24/Feb/2008:00:15:49 -0600]...
...                                                 ...
7292  80.161.85.77 - - [29/Feb/2008:07:47:40 -0600] ...
7293  156.63.68.202 - - [29/Feb/2008:07:49:28 -0600]...
7294  156.63.68.202 - - [29/Feb/2008:07:49:28 -0600]...
7295  156.63.68.202 - - [29/Feb/2008:07:49:28 -0600]...
7296  80.161.85.77 - - [29/Feb/2008:07:52:46 -0600] ...

[7297 rows x 1 columns]

In [3]:
pd.read_csv('data/access-log', sep=' ')

,140.180.132.213,-,-.1,[24/Feb/2008:00:08:59,-0600],GET /ply/ply.html HTTP/1.1,200,97238
0,140.180.132.213,-,-,[24/Feb/2008:00:08:59,-0600],GET /favicon.ico HTTP/1.1,404,133
1,75.54.118.139,-,-,[24/Feb/2008:00:15:40,-0600],GET / HTTP/1.1,200,4447
2,75.54.118.139,-,-,[24/Feb/2008:00:15:41,-0600],GET /images/Davetubes.jpg HTTP/1.1,200,60025
3,75.54.118.139,-,-,[24/Feb/2008:00:15:42,-0600],GET /favicon.ico HTTP/1.1,404,133
4,75.54.118.139,-,-,[24/Feb/2008:00:15:49,-0600],GET /software.html HTTP/1.1,200,3163
...,...,...,...,...,...,...,...,...
7292,80.161.85.77,-,-,[29/Feb/2008:07:47:40,-0600],GET /ply/example.html HTTP/1.1,200,2359
7293,156.63.68.202,-,-,[29/Feb/2008:07:49:28,-0600],GET /ply/ HTTP/1.1,200,8018
7294,156.63.68.202,-,-,[29/Feb/2008:07:49:28,-0600],GET /ply/bookplug.gif HTTP/1.1,200,23903
7295,156.63.68.202,-,-,[29/Feb/2008:07:49:28,-0600],GET /favicon.ico HTTP/1.1,404,133
7296,80.161.85.77,-,-,[29/Feb/2008:07:52:46,-0600],GET /ply/ply.html HTTP/1.1,200,97238

https://pandas.pydata.org/docs/user_guide/io.html#csv-text-files

In [4]:
pd.read_csv('data/access-log', sep=' ', 
            index_col=False, 
            names=['ip', '1', '2', 'date', 'tz', 'get', 'status', 'bytes'])

,ip,1,2,date,tz,get,status,bytes
0,140.180.132.213,-,-,[24/Feb/2008:00:08:59,-0600],GET /ply/ply.html HTTP/1.1,200,97238
1,140.180.132.213,-,-,[24/Feb/2008:00:08:59,-0600],GET /favicon.ico HTTP/1.1,404,133
2,75.54.118.139,-,-,[24/Feb/2008:00:15:40,-0600],GET / HTTP/1.1,200,4447
3,75.54.118.139,-,-,[24/Feb/2008:00:15:41,-0600],GET /images/Davetubes.jpg HTTP/1.1,200,60025
4,75.54.118.139,-,-,[24/Feb/2008:00:15:42,-0600],GET /favicon.ico HTTP/1.1,404,133
...,...,...,...,...,...,...,...,...
7293,80.161.85.77,-,-,[29/Feb/2008:07:47:40,-0600],GET /ply/example.html HTTP/1.1,200,2359
7294,156.63.68.202,-,-,[29/Feb/2008:07:49:28,-0600],GET /ply/ HTTP/1.1,200,8018
7295,156.63.68.202,-,-,[29/Feb/2008:07:49:28,-0600],GET /ply/bookplug.gif HTTP/1.1,200,23903
7296,156.63.68.202,-,-,[29/Feb/2008:07:49:28,-0600],GET /favicon.ico HTTP/1.1,404,133
7297,80.161.85.77,-,-,[29/Feb/2008:07:52:46,-0600],GET /ply/ply.html HTTP/1.1,200,97238

In [5]:
w = pd.read_csv('data/access-log', sep=' ', index_col=False, names=['ip', '1', '2', 'date', 'tz', 'get', 'status', 'bytes'])

In [6]:
w2 = w[['ip']]

In [7]:
w2

                   ip
0     140.180.132.213
1     140.180.132.213
2       75.54.118.139
3       75.54.118.139
4       75.54.118.139
...               ...
7293     80.161.85.77
7294    156.63.68.202
7295    156.63.68.202
7296    156.63.68.202
7297     80.161.85.77

[7298 rows x 1 columns]

In [8]:
ip = w2.groupby('ip').count()
ip

Empty DataFrame
Columns: []
Index: [116.94.207.182, 117.198.144.124, 117.47.114.193, 118.172.30.90, 118.83.147.252, 12.107.176.254, 12.206.63.189, 12.87.213.22, 121.139.76.33, 121.14.96.152, 121.14.96.153, 121.95.130.217, 122.117.168.219, 122.152.129.53, 122.152.140.206, 122.164.159.157, 122.167.72.204, 122.208.5.10, 122.55.236.192, 122.55.52.10, 123.190.193.8, 123.240.74.156, 124.104.101.239, 124.115.1.67, 124.115.4.219, 124.115.4.222, 124.161.65.194, 124.179.114.61, 124.215.248.26, 124.30.116.190, 124.30.188.110, 125.16.133.35, 125.19.42.35, 125.238.252.69, 125.244.152.66, 125.25.238.64, 125.35.5.39, 125.99.164.76, 128.100.109.143, 128.100.195.84, 128.105.175.11, 128.114.59.172, 128.118.156.49, 128.12.159.47, 128.135.11.245, 128.135.125.239, 128.135.125.245, 128.135.139.146, 128.135.139.150, 128.135.152.228, 128.135.164.154, 128.135.164.162, 128.135.164.173, 128.135.164.178, 128.135.164.194, 128.135.181.110, 128.135.194.138, 128.135.194.178, 128.135.194.63, 128.135.194.70, 128.135.197.195, 128.135.197.57, 128.135.212.179, 128.135.230.161, 128.135.230.179, 128.135.230.193, 128.135.230.204, 128.135.230.3, 128.135.239.253, 128.135.239.73, 128.135.24.238, 128.135.24.9, 128.141.224.186, 128.143.117.220, 128.143.117.39, 128.143.136.157, 128.143.179.69, 128.143.218.61, 128.143.230.107, 128.143.231.169, 128.143.231.195, 128.143.231.202, 128.143.24.249, 128.143.248.3, 128.143.255.129, 128.143.38.104, 128.143.38.123, 128.143.38.141, 128.143.38.176, 128.143.38.83, 128.143.70.18, 128.165.112.85, 128.165.207.58, 128.196.205.39, 128.196.80.231, 128.221.197.20, 128.250.6.243, 128.29.43.1, 128.40.255.154, 128.8.114.84, ...]

[1353 rows x 0 columns]

In [9]:
ip.sort_index('bytes')

/tmp/ipykernel_19188/2692587346.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.sort_index will be keyword-only.
  ip.sort_index('bytes')

ValueError: No axis named bytes for object type DataFrame

https://pandas.pydata.org/docs/reference/api/pandas.to_numeric.html#pandas-to-numeric

https://stackoverflow.com/questions/15891038/change-column-type-in-pandas

In [ ]:
pd.to_numeric?

In [10]:
pd.to_numeric(w['bytes'])

ValueError: Unable to parse string "-" at position 37

In [11]:
w['bytes'] != '-'

0       True
1       True
2       True
3       True
4       True
        ...
7293    True
7294    True
7295    True
7296    True
7297    True
Name: bytes, Length: 7298, dtype: bool

In [12]:
w[ w['bytes'] == '-' ]

,ip,1,2,date,tz,get,status,bytes
37,122.117.168.219,-,-,[24/Feb/2008:02:15:07,-0600],GET /ply/ HTTP/1.1,304,-
38,122.117.168.219,-,-,[24/Feb/2008:02:15:07,-0600],GET /ply/bookplug.gif HTTP/1.1,304,-
39,122.117.168.219,-,-,[24/Feb/2008:02:15:11,-0600],GET /ply/example.html HTTP/1.1,304,-
49,122.117.168.219,-,-,[24/Feb/2008:02:22:06,-0600],GET /ply/ HTTP/1.1,304,-
50,122.117.168.219,-,-,[24/Feb/2008:02:22:06,-0600],GET /ply/bookplug.gif HTTP/1.1,304,-
...,...,...,...,...,...,...,...,...
7259,66.249.65.37,-,-,[29/Feb/2008:07:11:32,-0600],GET /dynamic/04Objects.pdf HTTP/1.1,304,-
7261,66.249.65.37,-,-,[29/Feb/2008:07:14:41,-0600],GET /dynamic/02WorkingWithData.pdf HTTP/1.1,304,-
7272,66.249.65.37,-,-,[29/Feb/2008:07:23:52,-0600],GET /dynamic/assign2.html HTTP/1.1,304,-
7275,66.249.65.37,-,-,[29/Feb/2008:07:27:56,-0600],GET /dynamic/assign3.html HTTP/1.1,304,-
7279,66.249.65.37,-,-,[29/Feb/2008:07:31:24,-0600],GET /dynamic/05ObjectModel.pdf HTTP/1.1,304,-

In [13]:
w['bytes'] = w['bytes'].str.replace('-','0')

In [14]:
w[w['status'] == 304]

,ip,1,2,date,tz,get,status,bytes
37,122.117.168.219,-,-,[24/Feb/2008:02:15:07,-0600],GET /ply/ HTTP/1.1,304,0
38,122.117.168.219,-,-,[24/Feb/2008:02:15:07,-0600],GET /ply/bookplug.gif HTTP/1.1,304,0
39,122.117.168.219,-,-,[24/Feb/2008:02:15:11,-0600],GET /ply/example.html HTTP/1.1,304,0
49,122.117.168.219,-,-,[24/Feb/2008:02:22:06,-0600],GET /ply/ HTTP/1.1,304,0
50,122.117.168.219,-,-,[24/Feb/2008:02:22:06,-0600],GET /ply/bookplug.gif HTTP/1.1,304,0
...,...,...,...,...,...,...,...,...
7259,66.249.65.37,-,-,[29/Feb/2008:07:11:32,-0600],GET /dynamic/04Objects.pdf HTTP/1.1,304,0
7261,66.249.65.37,-,-,[29/Feb/2008:07:14:41,-0600],GET /dynamic/02WorkingWithData.pdf HTTP/1.1,304,0
7272,66.249.65.37,-,-,[29/Feb/2008:07:23:52,-0600],GET /dynamic/assign2.html HTTP/1.1,304,0
7275,66.249.65.37,-,-,[29/Feb/2008:07:27:56,-0600],GET /dynamic/assign3.html HTTP/1.1,304,0
7279,66.249.65.37,-,-,[29/Feb/2008:07:31:24,-0600],GET /dynamic/05ObjectModel.pdf HTTP/1.1,304,0

In [15]:
pd.to_numeric(w['bytes'])

0       97238
1         133
2        4447
3       60025
4         133
        ...
7293     2359
7294     8018
7295    23903
7296      133
7297    97238
Name: bytes, Length: 7298, dtype: int64

In [16]:
pd.to_numeric(w['bytes'], downcast="float")

0       97238.0
1         133.0
2        4447.0
3       60025.0
4         133.0
         ...
7293     2359.0
7294     8018.0
7295    23903.0
7296      133.0
7297    97238.0
Name: bytes, Length: 7298, dtype: float32

In [17]:
w2['bytes'] = pd.to_numeric(w['bytes'], downcast="integer")

/tmp/ipykernel_19188/1801081394.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  w2['bytes'] = pd.to_numeric(w['bytes'], downcast="integer")

In [25]:
w2

                   ip  bytes
0     140.180.132.213  97238
1     140.180.132.213    133
2       75.54.118.139   4447
3       75.54.118.139  60025
4       75.54.118.139    133
...               ...    ...
7293     80.161.85.77   2359
7294    156.63.68.202   8018
7295    156.63.68.202  23903
7296    156.63.68.202    133
7297     80.161.85.77  97238

[7298 rows x 2 columns]

In [26]:
w2['bytes'].describe()

count    7.298000e+03
mean     3.161713e+04
std      2.549421e+05
min      0.000000e+00
25%      1.330000e+02
50%      2.871000e+03
75%      8.018000e+03
max      4.919642e+06
Name: bytes, dtype: float64

In [29]:
w2['bytes'].sum()/1000000

230.74183